body{
	background-color: #FFF;
	font-family: 'Montserrat', sans-serif;
}

h2{
	font-size: 20px;
}

h1{
	font-size: 300px;
	line-height: 1.5;
}

#container{
position:relative;
margin-left: auto;
margin-right:auto;
height: 850px;
width: 1100px;
}

#form{
position:absolute;
top: 60px;
left:150px;
}

#background{
width: 100%; height: 100%;
border: 1px solid black; 
position:absolute; top:0; left:0;
min-width: 1100px;
min-height:850px;
}

#background svg{
width: 100%; height: 100%;
}

#background line{
stroke:black; stroke-width:1
}