<!DOCTYPE html>
<html>
<head>
	<title>shhh</title>
	<link rel="stylesheet" type="text/css" href="/css/nv.d3.min.css">
	<link rel="stylesheet" type="text/css" href="/css/shhh.css">
	<script src="/js/plugins/d3.min.js"></script>
	<script src="/js/plugins/nv.d3.min.js"></script>
	<script src="/js/plugins/moment.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="/js/shhh.js"></script>
</head>
<body>

<section class="text">
	<div class="total"></div>
	<div class="current"></div>
	<div class="time"></div>
</section>

<section class="graphs">
	<div class="graph"></div>

</section>

</body>
</html>