<!DOCTYPE html>
<html>
<head>
	<title>shhh</title>
	<link rel="stylesheet" type="text/css" href="/css/shhh.css">
	<link rel="stylesheet" type="text/css" href="/css/nv.d3.min.css">
	<script src="/js/plugins/d3.min.js"></script>
	<script src="/js/plugins/nv.d3.min.js"></script>
	<script src="/js/plugins/moment.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="/js/plugins/jquery.masonry.min.js"></script>
	<script src="/js/shhh.js"></script>


</head>
<body>


<div id="container">

	<div id="shhh" class="graphbox center">
		<h1><em>Shhh...</em></h1>
	</div>

	<div id="text" class="graphbox">
		<em>Current Share</em>
		<div class="total"></div>
		<div class="shareType"></div>
		<div class="mediaType"></div>
		<div class="time"></div>
	</div>

	<div id="mediaTypesPie" class="graphbox">
		<em>Media Types</em>
		<svg></svg>
	</div>

	<div id="userAgentPie" class="graphbox">
		<em>User Agents</em>
		<svg></svg>
	</div>

	<div id="dropLinkBar" class="graphbox">
		<em>Drops vs. Links</em>
		<svg></svg>
	</div>

	<div id="sharesTime" class="graphbox">
		<em>Shares Over Time</em>
		<svg></svg>
	</div>

</div>




</body>
</html>
