body{
	background-color: #FFF;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color:#000;
}

h1{
	font-size: 2em;
}

a{
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color:#888;
	text-decoration: none;

}

a:hover{
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color:#000;
	text-decoration: underline;
}

.bold{
font-weight: 700;
}

#background{
	width: 100%; height: 100%;
	border: 1px solid black; 
	position:absolute; top:0; left:0;
	/*min-width: 1100px;
	min-height:850px;*/
	z-index: 0;
}

#background svg{
	width: 100%; height: 100%;
}

#background line{
	stroke:black; stroke-width:1
}

.top {
  width: 100%;
  text-align: center;
  font-size: 15px;
}

.overlayWhite{
	width: 100%; height: 100%;
	background-color: #fff;
	position:absolute; top:0; left:0;
}

.overlayTrans{
	width: 100%; height: 100%;
	background-color: #000;
	opacity: .5;
	position:absolute; top:0; left:0;
}

#contentClose{
	position: absolute;
	top:25px;
	left:25px;
}

#infoBox{
	position:fixed;
	top: 0;
	left:0;
	bottom:0;
	right:0;
	margin: auto;
	height:350px;
	width:300px;
	z-index:9999;
	padding: 30px;
	font-size: 12px;

}

#infoClose{
	position: absolute;
	bottom:0;
	width:100%;
	text-align: center;
	margin-bottom: 10px;
	margin-left: -25px
}



.icons{
	height: 25px;
	width:25px;
}


.cent2{
	position:fixed;
	top: 0;
	left:0;
	bottom:0;
	right:0;
	margin: auto;
	height:40px;
	width:490px;
}

.bottom{
	position: fixed;
	bottom:0;
	width:100%;
	text-align: center;
	margin-bottom: 10px;
}


.textBox{
	width:375px;
	margin-bottom: 5px;
}

.submit{
	width:100px;
	margin-left: 15px;
	margin-bottom: -5px
}

input{
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	padding:10px;
}

.drop{
	background-color: #fff;
	border: 1px solid #000;
	-webkit-box-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow:    2px 2px 0px rgba(0, 0, 0, 1);
	box-shadow:         2px 2px 0px rgba(0, 0, 0, 1);
}

form{
	margin:0;
}



#overlayContent img
{
	position: absolute;
	max-width: 80%;
	top: 10%;
	left: 10%;
}

#overlayContent img:empty
{
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@media screen and (orientation: portrait) {
  #overlayContent img {
      max-width: 90%;
  }
}

@media screen and (orientation: landscape) {
  #overlayContent img {
      max-height: 90%;
  }
}

