body{font-family: "helvetica", sans-serif;}
a{color: white;text-decoration: none;}
a:hover{color:magenta;text-decoration: underline;}
h1{text-decoration: underline;}
em{text-decoration: underline;}
.center{text-align: center;}


/*GRAPHS!*/
.graphbox{
	width: 400px;
	margin: 5px;

	/*theme*/
	border: 1px dashed black;
	padding: 10px;

	/*float*/
	float: left;
}

#mediaTypesPie svg {height: 400px;}
#userAgentPie svg {height: 400px;}
#dropLinkBar svg {height: 400px;}
#sharesTime svg {height: 400px;}


